.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }
    &-ai-c {
        align-items: center;
    }
    
    }


.flex__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // justify-items: center;
    // align-content: center;
}