.header {
position: sticky;
top: 0;
padding: 1rem;
background-color: $peach;
width: 100%;
height: 6rem;
z-index: 100; //z-index is for z-axis, for the navbar to display above all else on 3 dimension
    

    .burger {
        display: block;
                width: 26px;
                height: 2px;
                background-color: $coffee;

                &:not(:last-child) {
                    margin-bottom: 3px;
                }
    }

    &__logo {
        img {
            height: 4rem;
            width: auto;
        }
    }
}


.nav {
    display: flex;
    justify-content: space-between;
   
   &__list {
       display:flex;
       justify-content: space-around;
       align-items: center;
}
}
.nav__list {
    a {
    display: inline-block;
    font-size: $font-med; 
    // &:not(:last-child){
    //     margin-right: 1rem;
    // }
    &:hover{
        color: $black;
    }
}
li:not(:last-child) {
    margin-right: 1rem;
}

}
.nav__list li:not(:last-child) {
    margin-right: 1rem;
}

//Responsive Visibility
.hide-for-mobile {
    @include breakpoint-down(medium){
        display:none;
    }
}
.hide-for-desktop {
@include breakpoint-up(large){
    display:none;
}
}