.header {

    nav {
        padding: 24px;
        background-color: $peach;
    }
    &__logo{
        img {
            width: 8em;
            height: 5em;
        }

    }
  

        &__links {

            a {
                font-size: $font-med; 
                &:not(:last-child){
                    margin-right: 16px;

                &:hover{
                    color: $black;
                }
                }
            }
    }

    .burger {
        display: block;
                width: 26px;
                height: 2px;
                background-color: $coffee;

                &:not(:last-child) {
                    margin-bottom: 3px;
                }
    }
}