html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  color: #7f5539;
  line-height: 1.3;
  background-color: rgba(255, 239, 213, 0.5);
}

a, a:visited, a:hover {
  text-decoration: none;
  color: #7f5539;
}

li {
  list-style: none;
}

h1, h2, h3 {
  margin: 0;
}

body {
  font-family: 'Public Sans', sans-serif;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: #ffd5b8;
  width: 100%;
  height: 6rem;
  z-index: 100;
}

.header .burger {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #7f5539;
}

.header .burger:not(:last-child) {
  margin-bottom: 3px;
}

.header__logo img {
  height: 4rem;
  width: auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list a {
  display: inline-block;
  font-size: 1.3rem;
}

.nav__list a:hover {
  color: black;
}

.nav__list li:not(:last-child) {
  margin-right: 1rem;
}

.nav__list li:not(:last-child) {
  margin-right: 1rem;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

main {
  background-image: url("../mom-with-baby.jpg");
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__text {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 2rem;
  border-radius: 30px;
}

.feature {
  background-color: #ffd5b8;
  width: 100%;
}

.feature {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.3rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 5rem (1fr)[4];
      grid-template-rows: 5rem repeat(4, 1fr);
      grid-template-areas: "feature__title" "profile__image" "profile__text" "feature__prestations" "feature__studio" "feature__blog";
}

@media (min-width: 40em) {
  .feature {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 5rem 1fr 1fr;
        grid-template-rows: 5rem 1fr 1fr;
        grid-template-areas: "feature__title feature__title feature__title" "profile__image profile__text profile__text" "feature__prestations feature__studio feature__blog";
  }
}

.feature__item {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: feature__title;
}

.profile__image {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: profile__image;
}

.profile__text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: profile__text;
}

.feature__prestations {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: feature__prestations;
}

.feature__studio {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: feature__studio;
}

.feature__blog {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: feature__blog;
}

.footer {
  background-color: #ffd5b8;
  padding: 2.5rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer:not(:last-child) {
  margin-bottom: 1.7rem;
}

@media (min-width: 64em) {
  .footer {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "contact social rights" "address social rights";
  }
}

@media (min-width: 64em) {
  .footer__contact {
    grid-area: contact;
  }
}

@media (min-width: 64em) {
  .footer__address {
    grid-area: address;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social a {
  padding: 1rem;
}

@media (min-width: 64em) {
  .footer__social {
    grid-area: social;
  }
}

@media (min-width: 64em) {
  .footer__rights {
    grid-area: rights;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

figure {
  padding: 0;
  margin: 0;
}

.main__button {
  padding: 1rem 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#ffd5b8), to(#d9e3dd));
  background: linear-gradient(to right, #ffd5b8, #d9e3dd);
  border-radius: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main__button:hover {
  background: -webkit-gradient(linear, right top, left top, from(#ffd5b8), to(#d9e3dd));
  background: linear-gradient(to left, #ffd5b8, #d9e3dd);
}

button {
  border-radius: 2rem;
  border: none;
  padding: 1rem;
  color: white;
  background-color: #7f5539;
}

.galerie {
  display: -ms-grid;
  display: grid;
  padding: 0.2rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 10rem 1fr 1fr 1fr;
      grid-template-rows: 10rem 1fr 1fr 1fr;
      grid-template-areas: "fig0 fig0 fig0" "fig1 fig2 fig3" "fig1 fig4 fig5" "fig6 fig6 fig7";
  grid-gap: 0.2rem;
  /* width: 100vw; */
}

.fig0 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: fig0;
}

.fig1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: fig1;
}

.fig2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: fig2;
}

.fig3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: fig3;
}

.fig4 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: fig4;
}

.fig5 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: fig5;
}

.fig6 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: fig6;
}

.fig7 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: fig7;
}

.galerie__title {
  display: block;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prestations {
  display: -ms-grid;
  display: grid;
  max-width: 80%;
  margin: auto;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 10rem (1fr)[4];
      grid-template-rows: 10rem repeat(4, 1fr);
      grid-template-areas: "prestations__item__1 prestations__item__1 prestations__item__1" "prestations__item__2 prestations__item__3 prestations__item__3" "prestations__item__5 prestations__item__5 prestations__item__4" "prestations__item__6 prestations__item__7 prestations__item__7" "prestations__item__9 prestations__item__9 prestations__item__8";
}

.prestations__item__1 {
  display: block;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: prestations__item__1;
}

.prestations__item__1:not(:first-child) {
  border: solid 0.1rem #7f5539;
}

.prestations__item__2 {
  display: block;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: prestations__item__2;
}

.prestations__item__2:not(:first-child) {
  border: solid 0.1rem #7f5539;
}

.prestations__item__3 {
  display: block;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: prestations__item__3;
}

.prestations__item__3:not(:first-child) {
  border: solid 0.1rem #7f5539;
}

.prestations__item__4 {
  display: block;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: prestations__item__4;
}

.prestations__item__4:not(:first-child) {
  border: solid 0.1rem #7f5539;
}

.prestations__item__5 {
  display: block;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: prestations__item__5;
}

.prestations__item__5:not(:first-child) {
  border: solid 0.1rem #7f5539;
}

.prestations__item__6 {
  display: block;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: prestations__item__6;
}

.prestations__item__6:not(:first-child) {
  border: solid 0.1rem #7f5539;
}

.prestations__item__7 {
  display: block;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: prestations__item__7;
}

.prestations__item__7:not(:first-child) {
  border: solid 0.1rem #7f5539;
}

.prestations__item__8 {
  display: block;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: prestations__item__8;
}

.prestations__item__8:not(:first-child) {
  border: solid 0.1rem #7f5539;
}

.prestations__item__9 {
  display: block;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: prestations__item__9;
}

.prestations__item__9:not(:first-child) {
  border: solid 0.1rem #7f5539;
}

.contact {
  display: -ms-grid;
  display: grid;
  max-width: 60%;
  margin: auto;
  padding-bottom: 1rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 10rem 1fr;
      grid-template-rows: 10rem 1fr;
      grid-template-areas: "contact__title" "contact__form";
}

.contact__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: contact__title;
  display: block;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__form {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: contact__form;
  border: solid 0.1rem #7f5539;
  padding: 1rem;
}

.contact__form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.contact__form input {
  width: 90%;
}

.blog {
  display: -ms-grid;
  display: grid;
  max-width: 80%;
  margin: auto;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 10rem 1fr 2fr;
      grid-template-rows: 10rem 1fr 2fr;
      grid-template-areas: "blog__title blog__title blog__title" "blog_image_1 blog_image_2 blog_image_3" "blog_text_1 blog_text_2 blog_text_3";
  grid-gap: 0.2rem;
}

.blog__item {
  background-color: rgba(255, 255, 255, 0.5);
}

.blog__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: blog__title;
  display: block;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_text_1 {
  display: block;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: blog_text_1;
}

.blog_text_2 {
  display: block;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: blog_text_2;
}

.blog_text_3 {
  display: block;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: blog_text_3;
}

.blog_image_1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: blog_image_1;
}

.blog_image_2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: blog_image_2;
}

.blog_image_3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: blog_image_3;
}

.propos {
  display: -ms-grid;
  display: grid;
  max-width: 80%;
  margin: auto;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 10rem 1fr;
      grid-template-rows: 10rem 1fr;
      grid-template-areas: "propos__title propos__title" "propos__image propos__text";
  grid-gap: 0.2rem;
}

.propos__item {
  background-color: rgba(255, 255, 255, 0.5);
}

.propos__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: propos__title;
  display: block;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.propos__text {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: propos__text;
  display: block;
  padding: 1rem;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.studio {
  display: -ms-grid;
  display: grid;
  max-width: 80%;
  margin: auto;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 10rem 1fr;
      grid-template-rows: 10rem 1fr;
      grid-template-areas: "studio__title studio__title" "studio__image studio__text";
  grid-gap: 0.2rem;
}

.studio__item {
  background-color: rgba(255, 255, 255, 0.5);
}

.studio__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: studio__title;
  display: block;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.studio__text {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: studio__text;
  display: block;
  padding: 1rem;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */