// colors
$peach: hsl(25, 100, 86);
$coffee: hsl(24, 38, 36);
$lightgray: hsl(144, 15, 87);
$black: black;
$white: white;
$background-white: rgba(255,255,255, 0.5);


//Font -sizes
$font-sm: 0.6rem;
$font-med: 1.3rem; 
